body {
    background-color: black;
}

p {
    color:white;
}
h1 {
    color:white;   
}
h3 {
    color:white;
}
div {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Google */
    column-count: 2;
}
